<section class="main-background">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h1 class="h1 mb-5">A place for independent education 🤗.</h1>
          <!-- <p>The platform that lets learners support teaching directly</p> -->
        </div>
        <div class="col-sm-12 col-lg-12">
          <h6 class="lead mb-3"><i class="fas fa-check-square"></i> Start a channel. Build your community of learners.</h6>
          <h6 class="lead mb-3"><i class="fas fa-check-square"></i> Schedule when to teach your learners. Make money from teaching.</h6>
          <h6 class="lead mb-3"><i class="fas fa-check-square"></i> Hosting a channel is free, with no limits. We only make money when you do.</h6>
          <p class="mb-0 mt-3">
            <a class="btn btn-original btn-lg mt-1 ml-4 has-icon" href="<%= new_account_path %>" role="button"><i class="fas fa-plus mr-1"></i>Create a Channel</a>
            <!-- <a class="btn btn-success mt-1 ml-4" href="<%#= new_user_registration_path %>" role="button">Join a Channel</a> -->
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="tutor-call">
  <div class="container">
    <div class="row">
      <div class="col-sm mt-3">
        <h2>You're in charge</h2>
        <p>Your learner list is your community. When you start PerTutor</p>
        <ul>
          <li class="mt-2">Invite your learners</li>
          <li class="mt-2">Get dedicated website for your channel</li>
          <li class="mt-2">Get community features to engage learners</li>
          <li class="mt-2">Schedule when you can teach</li>
          <li class="mt-2">Your students decide what to learn</li>
        </ul>
        <p class="mt-2">It takes less than a minute to create a channel</p>
        <a href="<%= new_account_path %>" class="btn btn-original mt-2 has-icon"> <i class="fas fa-plus mr-1"></i>Start Your Channel</a>
      </div>
      <div class="col-sm mt-3">
        <%= image_tag "https://www.dropbox.com/s/k1t3ukwkpkecuwl/tutor.jpg?dl=1", class: "img-fluid rounded" %>
      </div>
    </div>
  </div>
</section>

<section class="getting-page">
  <div class="container">
    <div class="row">
      <div class="col-sm mt-3">
        <h2>Get paid to do what you love</h2>
        <p>Build your audience on PerTuor, or add them. When you're ready, you can schedule paid sessions.</p>
        <p>We take care of the details so you can focus on teaching. There is no limit to your earning potential on PerTutor.</p>
        <a href="<%= landing_path %>" class="btn btn-danger mt-2 has-icon"> <i class="material-icons mr-1">description</i>Learn more</a>
      </div>
      <div class="col-sm mt-3">
        <%= image_tag "https://www.dropbox.com/s/kgwhqjgvfsfu4t4/teach.jpg?dl=1", class: "img-fluid rounded" %>
      </div>
    </div>
  </div>
</section>
