<div class="col-sm-6 col-md-4 col-xl-3 mb-3">
  <div class="card h-100">
    <%= link_to lecture_path(lecture)  do %>
      <%= image_tag "https://www.dropbox.com/s/kgwhqjgvfsfu4t4/teach.jpg?dl=1", class: "card-img-top" %>
    <% end %>
    <div class="card-body">
      <h6 class="card-title text-capitalize"><%= lecture.title.capitalize %></h6>
      <div class="card-subtitle text-muted font-size-sm mb-2">Instrutor: <a href="javascript:void(0)"> <%= lecture.user.username.capitalize %></a></div>
      <p class="font-size-sm card-text"><%= lecture.summary %></p>
      <span class="badge badge-primary">Price: <%= humanized_money_with_symbol(lecture.price) %></span>
      <span class="badge badge-info">Seats: <%= lecture.student_limit %></span>
      <!-- <a href="javascript:void(0)" class="badge badge-pill badge-light">react</a> -->
      <!-- <a href="javascript:void(0)" class="badge badge-pill badge-light">react-native</a> -->
      <!-- <a href="javascript:void(0)" class="badge badge-pill badge-light">scroll</a> -->
    </div>
    <div class="card-footer font-size-sm text-muted">
      <!-- <span>Date</span>: -->
      <span class="ml-1 mr-auto"><i class="far fa-calendar-alt"></i> <%= lecture.start_date.strftime("%a, %D") %></span>
      <span class="ml-1 mr-auto font-size-sm text-muted"><i class="far fa-clock"></i> <%= lecture.start_date.strftime("%l:%M %p") %></span>
      <!-- <span><i class="far fa-eye"></i> 19</span> -->
      <span><i class="far fa-comment ml-2"></i> 3</span>
    </div>
    <div class="card-footer justify-content-between">
      <a href="<%= lecture_path(lecture) %>" class="btn btn-link has-icon btn-xs bigger-130 text-primary"><i class="far fa-eye mr-1"></i>Detail</a>
       <% owners_only do %>
        <a href=" <%= edit_admin_lecture_path(lecture) %>" class="btn btn-link has-icon btn-xs bigger-130 text-success"><i class="far fa-edit mr-1"></i>Edit</a>
        <%= link_to admin_lecture_path(lecture), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-link has-icon btn-xs bigger-130 text-danger"  do %>
            <i class="far fa-trash-alt mr-1"></i>Delete
          <% end %>
       <% end %>
      <!-- <a href="javascript:void(0)" class="btn btn-link has-icon btn-xs bigger-130 text-danger"><i class="far fa-trash-alt mr-1"></i>Delete</a> -->
    </div>
  </div>
</div>
