<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-pertutor">
  <a class="navbar-brand" href="<%= root_url %>">PerTutor</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if current_page?('/users/sign_up')%>">
         <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= 'active' if current_page?('/users/sign_in')%>">
         <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
      </li>
    </ul>
    <ul class="navbar-nav mr-3">
      <li class="nav-item">
        <%= link_to new_account_path, class: "btn btn-outline-danger has-icon" do %>
          <i class="fas fa-plus mr-1"></i> Create a Channel
        <% end %>
      </li>
    </ul>
  </div>
</nav>
