<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="PerTutor">
    <meta name="description" content="the platform that lets learners support teaching directly">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
      <!-- Google analytics for new Pertutor RISE! -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176106927-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-176106927-1');
    </script>
  </head>

   <!-- <body class="sidebar-collapse"> -->
   <body style="background-color: <%= current_account&.home_color %>;">
    <% if current_account %>
      <%= render "layouts/account/sidebar" %>
    <% else %>
      <%= render "layouts/base/sidebar" %>
    <% end %>

    <!-- Main -->
    <div class="main">
      <% if current_account %>
        <%= render "layouts/account/header" %>
      <% else %>
        <%= render "layouts/base/header" %>
      <% end %>


      <div class="container">
        <%= render "layouts/flash_messages" %>
      </div>

      <!-- Main body -->
      <div class="main-body">
        <%= yield %>
      </div>
      <!-- /Main body -->
      <% if current_account %>
        <%= render "layouts/account/footer" %>
      <% end %>
    </div>
      <% if current_account %>
        <%= render "layouts/account/search_modal" %>
      <% else %>
        <%= render "layouts/base/search_modal" %>
      <% end %>

      <%= javascript_pack_tag 'application' , 'data-turbolinks-track': 'reload' %>
  </body>
</html>
